*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    border: 1px solid white;
}

[class*="col-"]{
    background-color: rgb(0, 108, 250);
    border: 1px solid white;
    height: 50px;
    text-align: center;
}

.green{
    background-color: green;
    height: 25px;
}

.row-mid{
    height: 100%;
    padding: 10px;
}